<div>
  <%= form_with url: search_search_path, method: :get, local: true do |f| %>
  <%= f.text_field "search[value]", class: "form-control form-control-sm", placeholder: "キーワード検索" %>
  <div hidden>
    <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical"}) %>
  </div>
  <div hidden>
    <%= f.submit %>
  </div>
  <% end %>
</div>
