<div class="container">
  <div class="row">
    <div class="col-md-2 offset-1 mt-5">
      <%= render "layouts/links" %>
    </div>
    <div class="col-md-6 mt-5" style="width:300px;height:800px;overflow:auto;">
      <div>
        <%= render "posts/index", posts: @post %>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <%= render "search/form" %>
    </div>
  </div>
</div>