<% post.post_comments.each do |post_comment| %>
  <% post_comment_user = post_comment.user %>
  <div>
    <td><%= post_comment_user.name %></td>
    <td><%= post_comment.comment %></td>
      <% if post_comment_user == current_user %>
    <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %></td>
  </div>
      <% end %>
<% end %>