<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <div><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></div>
      <div><%= @user.name %></div>
      <div><%= @user.introduction %></div>
    </div>
  </div>
</div>