  <div class="row">
    <div class="col-md-3 mt-5">
      <div class="sticky-area">
        <%= render "layouts/links" %>
      </div>
    </div>
    <div class="col-md-6 mt-5">
      <%= render "message" %>
    </div>
    <div class="col-md-3 mt-5">
      <div class="sticky-area">
        <%= render "search/form" %>
      </div>
    </div>
  </div>
