<div class="container">
  <div class="row">
    <div class="col-lg-2 offset-1 mt-5">
      <%= render "layouts/links" %>
    </div>
    <div class="col-lg-6 mt-5" style="width:300px;height:800px;overflow:auto;">
      <div>
        <%= render "index", posts: @posts %>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <%= render "search/form" %>
    </div>
  </div>
</div>