  <div class="row">
    <div class="col-lg-2 offset-1 mt-5">
      <div class="sticky-area">
        <%= render "layouts/links" %>
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <div>
        <%= render "index", posts: @posts %>
      </div>
    </div>
    <div class="col-lg-3 mt-5">
      <div class="sticky-area">
        <%= render "search/form" %>
      </div>
    </div>
  </div>
